/* general */
input[type="text"] {
    height: 30px;
}

body {
    background: url("../img/bg.png");
}

p, h1, h2, h3, h4, h5, h6, input, button {
    font-family: 'Open Sans', sans-serif !important;
}

.dotted-blue {
    border: 1px rgba(182, 182, 182, 0.56) solid;
    background: rgba(255, 255, 255, 0.68);
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

/*
     ////////////////
    // Drawing... //
   ////////////////
*/

/* Drawing area */
.draw-area {
    text-align: center;
}

.canvas {
    margin: 15px;
    /* Unselectable text */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.canvas .pixel {
    display: inline-block;
    font-size: 18px;
    cursor: crosshair;
    margin-bottom: -10px;

}

.template {
    display: none;
}

textarea {
    width: 100%;
    height: 300px;
}

/*
     ///////////////
    // Colors... //
   ///////////////
*/

/* color styles */
.color {
    width: 40px;
    height: 40px;
    margin: 2px;
    border: 1px #aaa solid;
    display: inline-block;
    cursor: pointer;
}

.colors .active {
    border: 2px rgb(101, 0, 180) solid;
}

.colors {
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}


/* Shift presing */
.shift-active,
.colors .red {
    background: #c0392b;
}

.colors .orange {
    background: #e67e22;
}

.colors .yellow {
    background: #f1c40f;
}

.colors .green {
    background: #2ecc71;
}

.colors .blue {
    background: #3498db;
}

.colors .indigo {
    background: #9b59b6;
}

.colors .violet {
    background: #8e44ad;
}

.colors .black {
    background: #2c3e50;
}

.colors .gray {
    background: #bdc3c7;
}

.colors .white {
    background: #ecf0f1;
}


